html {
    background: url("../img/bg_tile.jpg") center center fixed;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 800px;
}
