@font-face {
  font-family: 'CoreCircus';
  src: url('../font/core-circus/CoreCircus.eot'); /* IE9 Compat Modes */
  src: url('../font/core-circus/CoreCircus.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/core-circus/CoreCircus.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/core-circus/CoreCircus.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #151515;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#header {
    background-image: url(../img/bg_header.jpg);
    background-position: center center;
    height: 100px;
    opacity: 0;
}

#header #logo {
    top: 50%;
    transform: translate(0%, -50%);
}

#header #social {
    top: 50%;
    transform: translate(0%, -50%);
    display: inherit;
}

#header #social img {
    margin-right: 7px;
}

.container {
    max-width: 1400px;
}

.static-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#splash {
    height: 100vh;
    background-image: url(../img/building.jpg);
    background-attachment: fixed;
}

#seal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section-text-container-left {
    padding: 0 10% 0 20%;
    color: white;
    min-width: 375px;
}

.section-text-container-right {
    padding: 0 20% 0 10%;
    color: white;
    min-width: 375px;
}

.section-main-container {
    margin: 10% 3% 10% 3%;
}

.section-heading {
    font-family: 'CoreCircus', sans-serif;
    font-weight: 300;
    font-size: 34px;
    line-height: 2;
    letter-spacing: -1px;
    color: #e05953;
    margin-top: 100px;
}

.section-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.decorative-divider {
    margin: 30px 0 30px 0;
}

#story {
    background-image: url(../img/bg_black_texture.jpg);
    min-height: 715px;
}

#bios {
    background-image: url(../img/bg_wood_panels.jpg);
    background-size: auto;
    background-repeat: repeat;
    min-height: 815px;
}

#bio-list {
    margin-top: 20px;
    min-width: 300px;
    display: inherit;
}

a.list-group-item {
    background-color: transparent;
    border: 0; /* Global overwrite! */
}

a.list-group-item:first-child {
    border-top-left-radius: 0; /* Global overwrite! */
    border-top-right-radius: 0; /* Global overwrite! */
}

a.list-group-item:last-child {
    border-bottom-left-radius: 0; /* Global overwrite! */
    border-bottom-right-radius: 0; /* Global overwrite! */
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: transparent;
    background-image: url(../img/bg_team_list.png);
    background-size: contain;
    background-repeat: no-repeat;
}

a.list-group-item:focus {
    background-color: transparent;
}

a.list-group-item .bio-name, a.list-group-item .bio-position {
    padding-left: 10px;
}

a.list-group-item.active .bio-position {
    color: white;
}

a.list-group-item .bio-position {
    margin-top: -12px;
}

.bio-container-dynamic {
    display: inherit;
    min-width: 720px;
}

.bio-container-static {
    display: none;
    margin-bottom: 30px;
}

.bio-container {
    background-image: url(../img/bg_team_bio_text.jpg);
    background-position: right center;
    background-repeat: repeat-x;
}

.bio-portrait-container {
    padding: 0px;
}

.bio-portrait {
    text-align: center;
    vertical-align: middle;
}

.bio-name {
    font-weight: 500;
}

.bio-position {
    font-weight: 700;
    color: #b79879;
    text-transform: uppercase;
}

.bio-text {
    margin-top: 10%;
    padding-bottom: 10px;
    color: white;
}

.bio-bio {
    margin-top: 35px;
}

.bio-bio + [data-readmore-toggle] {
    color: #232323;
}

#contact {
    background-image: url(../img/bg_black_texture.jpg);
    min-height: 600px;
    padding: 0 3% 30px 3%;
}

#contact #banner {

}

.contact-banner {
    font-family: 'CoreCircus', sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 3;
    letter-spacing: -1px;
    color: #d5d5d5;
}

.contact-heading {
    font-family: 'CoreCircus', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 2;
    letter-spacing: -1px;
    color: #e05953;
}

#instafeed {
    max-height: 350px;
    overflow: auto;
}

#contact-map {
    height: 350px;
}

#footer {
    background-color: #484848;
    color: white;
    min-height: 80px;
    padding: 25px;
}

#footer-address {
    margin-top: 15px;
    font-size: 10px;
}

#footer-social img {
    margin-right: 7px;
}

.footer-text {
    margin: 0 15px 0 15px;
}

/* RESPONSIVE CSS--------------------------------------------------------------- */

@media (max-width: 525px) {
    #header {
        height: 80px;
    }
    
    .section-offset {
        height: 80px;
    }
    
    .section-text-container-left,
    .section-text-container-right {
        min-width: 0;
    }
}

@media (max-width: 768px) {
    #header #social {
        display: none;
    }
    
    .bio-container {
        background-position: center bottom;
    }
    
    .bio-text {
        margin-top: 30px;
    }
    
    .bio-bio {
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    .section-main-container {
        margin: 3%;
    }

    .section-text-container-left {
        padding: 0;
        margin: 0 3% 0 3%;
    }
    
    .section-text-container-right {
        padding: 0;
        margin: 0 3% 0 3%;
    }
    
    .section-heading {
        margin-top: 30px;
    }
    
    #bio-list {
        display: none;
    }
    
    .bio-container-dynamic {
        display: none;
    }

    .bio-container-static {
        display: inherit;
    }
    
    #bios .decorative-divider {
        display: none;
    }
}

@media (max-width: 1200px) {
    #story {
        min-height: 600px;
    }
    
    #bios {
        min-height: 600px;
    }
}
