@font-face {
  font-family: 'CoreCircus';
  src: url('../font/core-circus/CoreCircus.eot'); /* IE9 Compat Modes */
  src: url('../font/core-circus/CoreCircus.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/core-circus/CoreCircus.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/core-circus/CoreCircus.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway/Raleway-Regular.eot'); /* IE9 Compat Modes */
  src: url('../font/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/raleway/Raleway-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/raleway/Raleway-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    font-family: 'Raleway', sans-serif;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#header {
    background-image: url(../img/bg_header.jpg);
    background-position: center center;
    height: 140px;
}

#header #logo {
    top: 50%;
    transform: translate(0%, -50%);
}

#header #social {
    top: 50%;
    transform: translate(0%, -50%);
    display: inherit;
}

#header #social img {
    margin-right: 7px;
}

.static-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#splash {
    height: 100vh;
    background-image: url(../img/building.jpg);
    background-attachment: fixed;
}

#seal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section-text-container-left {
    padding: 0 10% 0 20%;
    color: white;
}

.section-text-container-right {
    margin: 0 20% 20% 0;
    color: white;
}

.section-main-container {
    margin: 10% 3% 10% 3%;
}

.section-heading {
    font-family: 'CoreCircus', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 2;
    letter-spacing: -1px;
    color: #e05953;
    margin-top: 100px;
}

.section-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.section-offset {
    height: 140px;
}

#story {
    background-image: url(../img/forest_mist.jpg);
    min-height: 715px;
}

#bios {
    background-image: url(../img/bg_wood_panels.jpg);
    background-size: auto;
    background-repeat: repeat;
    min-height: 815px;
}

.bio-list {
    list-style-type: none;
    margin-top: 40px;
}

a.list-group-item {
    color: black;
    background-color: inherit;
    border: 0; /* Global overwrite! */
}

a.list-group-item:first-child {
    border-top-left-radius: 0; /* Global overwrite! */
    border-top-right-radius: 0; /* Global overwrite! */
}

a.list-group-item:last-child {
    border-bottom-left-radius: 0; /* Global overwrite! */
    border-bottom-right-radius: 0; /* Global overwrite! */
}

a.list-group-item.active, a.list-group-item.active:hover {
    background-color: red;
    color: white;
}

.bio-title {
    text-transform: uppercase;
    color: salmon;
}

#bio-list {
    display: inherit;
}

#bio-container {

}

.bio-portrait {

}

.bio-text {

}

#contact {
    background-color: #141414;
    min-height: 600px;
    padding: 0 3% 0 3%;
}

#contact #banner {

}

.contact-banner {
    font-family: 'CoreCircus', sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 3;
    letter-spacing: -1px;
    color: #d5d5d5;
}

.contact-heading {
    font-family: 'CoreCircus', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 2;
    letter-spacing: -1px;
    color: #e05953;
}

#instafeed {
    max-height: 400px;
    overflow: auto;
}

#contact-map {
    height: 350px;
}

#footer {
    background-color: #484848;
    color: white;
    min-height: 80px;
    padding: 25px;
}

#footer-address {
    margin-top: 15px;
    font-size: 10px;
}
#footer-social img {
    margin-right: 7px;
}

/* RESPONSIVE CSS--------------------------------------------------------------- */

@media (max-width: 525px) {
    #header {
        height: 80px;
    }
    
    .section-offset {
        height: 80px;
    }
}

@media (max-width: 768px) {
    #header #social {
        display: none;
    }
}

@media (max-width: 992px) {
    .section-main-container {
        margin: 3%;
    }

    .section-text-container-left {
        padding: 0;
        margin: 0 3% 0 3%;
    }
    
    .section-text-container-right {
        padding: 0;
        margin: 0 3% 0 3%;
    }
    
    .section-heading {
        margin-top: 30px;
    }
    
    #bio-list {
        display: none;
    }
}

@media (max-width: 1200px) {
    #story {
        min-height: 600px;
    }
    
    #bios {
        min-height: 600px;
    }
}
